    // MAiN
    .main
    {
        flex-grow: 1;
    }
    // HERO
    .hero
    {
        padding-top: 17rem;
        padding-bottom: 17rem;
        background-image: url('../images/hero-bg.svg');
        background-repeat: no-repeat;
        background-position: right -24px top -80px;
        position: relative;

        .info   
        {
            max-width: 447px;
        }
        h1
        {
            margin-bottom: 24px;
        }
        p
        {
            @include title (1.8rem, -0.28px, 1.56, $text-color, normal);
            margin-bottom: 3.6rem;
        }
        img
        {
            display: flex;
        }
        .container
        {
            display: flex;
        }
        .hero__image
        {
            position: absolute;
            right: 0;
            top: -80px;
            z-index: 0;
        }
        .hero__mobile
        {
            display: none;
            position: relative; 
            top: -190px;
            width: 59rem;
        }
        .hero__tablet
        {
         display: none;
        }
        .hero__mobile-image
        {
            display: none;
        }
        @include responsive (desktop)
        {
            padding: 9rem 0;
             background-position: right -120px top -190px;
             position: relative;
             .hero__image
             {
                 position: absolute;
                 right: -125px;
                 top: -190px;
             } 
        }
        @include responsive (desctop_2)
        {
             padding: 9rem 0;
             background-position: right -300px top -190px;
             position: relative;
             .hero__image
              {
                 position: absolute;
                 right: -217px;
                 top: -160px;
                 width: 550px;
          }
             .info
            {
                width: 400px;
            }
            h1
            {
                font-size: 4rem;
            }
            p
            {
                font-size: 1.7rem;
            }
        }
        @include responsive (desctop_3)
        {
            background-position: right -40rem top -200px;
            position: relative;
            .hero__image
            {
                position: absolute;
                right: -315px;
                top: -155px;
                width: 550px;
            }
            .info
            {
             max-width: 100%;
            }
            h1
            {
                font-size: 4.5rem;
            }
            p
            {
                font-size: 1.7rem;
            }
        } 
         @include responsive (tablet)
         {
            background-image: url();
            .hero__image
            {
                display: none;
            }
            .hero__tablet
             {
            display: none;
             }
             .container
             {
                justify-content: center;
             }
             .info{
                max-width: 100%;
                text-align: center;
             }
             h1
             {
                 font-size: 3.9rem;
                 margin-bottom: 2rem;
             }
             p
             {
                 font-size: 1.6rem;
                 margin-bottom: 2.5rem;
             }
         }
         @include responsive (mobile_2)
         {
            .hero
            {
                padding-top: 12rem;
    
                .info
                {
                    text-align: center;
                h1
                {
                     font-size: 3.5rem;
                     margin-bottom: 1.7rem;
                }
                p
                {
                    font-size: 1.497rem;
                    margin-bottom: 1.9rem;
                }
               
               }
            }
         }
      }
    //   SERVICES
    .services {
        padding-top: 9.6rem;
        padding-bottom: 9.4rem;
        background-color: #F4F5F7;
    }
    .service-info {
        max-width: 635px;
        margin-bottom: 7.2rem;

        h2
        {
            margin-bottom: 1.6rem;
        }
        p
        {
            font-size: 1.8rem;
        }
    }
    .services__card {
        display: flex;
        gap: 3.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-box {
       max-width: 255px;

        img
        {
            margin-bottom: 4rem;
        }
        h3
        {
            margin-bottom: 2.6rem;
        }
        p
        {
            @include title (1.6rem, 1.62, -0.25px, $text-color, 400);
        }
    }

    @include responsive (tablet)
    {
        .service-info
        {
            text-align: center;
        }
        .services-box
        {
           text-align: center;
           max-width: 250px;

           img
           {
            margin-bottom: 1rem;
           }
           h3
           {
            margin-bottom: 2rem;
            font-size: 2rem;
           }
           p
           {
            font-size: 1.5rem;
           }
        }
    }


    @include responsive (mobile)
    {
       .services
       {
        padding-top: 0;
        padding-bottom: 9rem;
       }
        .service-info
        {
            h2
            {
                font-size: 3.2rem;
            }
            p
            {
                font-size: 1.5rem;
            }
        }
        .services-box
        {
            max-width: 327px;
        }
    }

    @include responsive (desktop_4)
    {
       .service-info
       {
        text-align: center;
       }
    }
    // FEATURES
    .features {
        padding-top: 8rem;
        padding-bottom: 10.4rem;
        

        h2
        {
            margin-bottom: 4rem;
        }
    }
    .features__card {
        display: flex;
        gap: 3.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .features-box {
        background-color: $light-white;
        width: 255px;
     h6
     {
        margin-bottom: 0.8rem;
     }
     h4
     {
        margin-bottom: 0.8rem;
     }
     p
     {
        font-size: 1.3rem;
     }
     .features-info
     {
        background-color: $light-white;
        padding: 24px;
     }
    }
    @include responsive (tablet)
    {
       h2
       {
           text-align: center;
           font-size: 3.2rem;
       }
    }