// COVER
    .overlay
    {
        width: 100%;
        background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        display: none;
    }
    .overlay.show-nav 
    {
        display: block;
    }

